/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #4871FB;
  --second-color: #081338;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

.bg-sc {
  background-color: var(--first-color);
}
/*===== CLASS CSS ===== */
.section-title-as{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title-as::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section-as{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid-as{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header-as{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.bd-grid-as-description {
  background: url("main/assets/img/tour-s-path.svg");
  background-size: cover;
  height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-container-desc{
  position: absolute;
}

.grid-home{
  display: grid;
  align-items: center;
}

.text-c{
  text-align:center;
  margin-top: 4rem;
}

.project__img_s {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(
    rgba(3,114,218,0.5),
    rgba(211, 227, 253, 1)
    ),
    url("main/assets/img/work2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  position: relative;
 }

.project__img_f {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(
    rgba(3,114,218,0.5),
      rgba(211, 227, 253, 1)
    ),
    url("main/assets/img/work6.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  position: relative;
 }

 .center-proj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }

 .project__img_t {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(
      rgba(3,114,218,0.5),
      rgba(211, 227, 253, 1)
    ),
    url("main/assets/img/work4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  position: relative;
 }

/*===== TIMELINE ====*/
.subtitle__timeline {
  color: var(--second-color);

}

.subtitle__timeline-present {
  color: var(--first-color);
}

/*===== NAV =====*/
.nav-as{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu-as{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item-as{
  margin-bottom: var(--mb-4);
}
.nav__link-as{
  position: relative;
  color: #fff;
}
.nav__link-as:hover{
  position: relative;
  text-decoration: none;
}
.nav__link-as:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo-as{
  color: var(--second-color);
}
.nav__toggle-as{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active-as::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show-as{
  right: 0;
}

/*===== HOME =====*/
.home-as{
  height: calc(100vh - 3rem);
}

.home__title-as{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color-as{
  color: var(--first-color);
}
.home__social-as{
  display: flex;
  flex-direction: column;
}
.home__social-icon-as{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon-as:hover{
  color: var(--first-color);
}
.home__img-as{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 395px;
}

.arrow-project {
  text-align: center;
}


.projects-text {
  color: var(--second-color);
  text-align: center;
}
/*BUTTONS*/
.button-as{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button-as:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.button-demo-as{
  text-align: center;
  display: inline-block;
  background-color: #358839;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}

.button-demo-as:hover{
  text-decoration: none;
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  color: #fff;
  transform: translateY(-5px);
  cursor: pointer;
}

/* ===== ABOUT =====*/
.about__container-as{
  row-gap: 2rem;
  display: grid;
  text-align: center;
  align-items: center;
}

.about__subtitle-as{
  margin-bottom: var(--mb-2);
}
.about__img-as{
  justify-self: center;
}
.about__img-as img{
  width: 200px;
  border-radius: .5rem;
}

/*==== SKILLS =====*/
.skill__container-as {
  row-gap: 2rem;
  text-align: center;
}

.skills__img-as{
  justify-self: center;
}
.nosep-as {
  margin-bottom: 20px;
}
.skill__name-as {
  height: 20px;
  width: auto;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  bottom: 70px;
  background-color: #4871FB;
  color: #fff;
  border-radius: 6.75px;
}

.skill__name-as:hover {
  background-color: #D3E3FD;
  color: #4871FB ;
}

.work__container-as{
  row-gap: 2rem;
  text-align: center;
}

/* ===== Projects =====*/
.projects__container-as{
  row-gap: 2rem;
}
.projects__img-as{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.projects__img-as img{
  transition: 1s;
  
  cursor: pointer;
}
.projects__img-as img:hover{
  transform: scale(1.1);
}
/* ===== FOOTER =====*/
.footer-as{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title-as{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social-as{
  margin-bottom: var(--mb-4);
}
.footer__icon-as{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section-as{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title-as{
    margin-bottom: var(--mb-6);
  }
  .section-title-as::after{
    width: 80px;
    top: 3rem;
  }

  .nosep-as {
    text-align: center;
  }
  .nav-as{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list-as{
    display: flex;
    padding-top: 0;
  }
  .nav__item-as{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle-as{
    display: none;
  }
  .nav__link-as{
    color: var(--second-color);
  }
  .home-as{
    height: 100vh;
  }
  .home__social-as{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon-as{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img-as{
    width: 587px;
    right: 0;
    margin-bottom: 60px;
  }

  .about__container-as {
    grid-template-columns: repeat(2,1fr);
    width: 1200px;
  }

  .grid-home{
    grid-template-columns: repeat(2,1fr);
    width: 1200px;
  }

  .text-c{
    text-align:right;
    margin: 0px;
  }

  .work__container-as {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }

  .projects__container-as {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .skill__container-as {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img-as img{
    width: 400px;
  }

  .contact__form-as {
    width: 360px;
  }
  .contact__container-as {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid-as {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img-as {
    right: 5%;
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home__img-as {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 587px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .home__img-as {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 22px;
    width: 395px;
  }
}
